.s1 {
  align-items: center;
}
.section-writing {
  width: 500px;
  padding-left: 130px;
  padding-top: 40px;
}

.section-img {
  width: auto;
  margin-left: 120px;
  margin-top: 40px;
  padding-right: 85px;
}

.s1-w1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.s1-w2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  padding: 15px 0;
  color: #fff;
}
.s1-w3 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: #fff;
  padding-bottom: 30px;
}

.hero-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.center {
  text-align: center;
}

.section-writing2 {
  width: 700px;
  padding-right: 140px;
}
.name {
  font-family: Crimson Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding: 20px 0;
}
.job {
  color: var(--color-dark-75, rgba(33, 37, 41, 0.75));
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.cercive {
  padding: 20px 40px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  margin-left: 50px;
}
.footer {
  color: #74c69d;
}
/*.max-width {
  width: max-content;
}
